.signup-page {
  margin: auto;
  .signup-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
  }
  .container-box {
    background-color: #f1eeec;
    border-radius: 8px;
    min-width: 400px;
    padding: 20px;
  }
}
.loginpage-submit-button {
  text-align: center;
}
.brand {
  .topic-name {
    font-family: cursive;
    font-size: xxx-large;
    text-align: center;
  }
  .objective-name {
    font-family: monospace;
    font-size: xx-large;
    text-align: center;
  }
}
.login-signup {
  text-align: center;
  text-decoration: underline;
  color: #716e6e;
  padding-top: 1rem;
  cursor: pointer;
}
